<app-postal-layout>
  <app-postal-content>
    <div class="personal-intro-container" fxLayout="row" fxLayoutAlign="center center">
      <div class="personal-intro-text" fxFlex="60%">
        <p>Now you seen my work, Let me introduce myself: I´m Leo Mesa, A designer who began his own path making  visual communications mostly. </p>
        <p>Nowadays i get deeper and deeper in new knowledges and open my mind in new kinds of design as long as projects let me do that. Do you want to know more about me?</p>
        <div class="personal-intro-actions" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
          <button class="btn-primary" [routerLink]="['/contact']">Contact Me</button>
          <a class="btn-primary" href="./assets/CV.pdf" target="_blank">Watch my CV</a>
          <!-- <button class="btn-primary" [routerLink]="['/funny-facts']">Fun Facts</button> -->
        </div>
      </div>
      <div class="leo-waiting" fxFlex="40%">
        <img src="./assets/standing.GIF" alt="">
      </div>
    </div>
  </app-postal-content>
</app-postal-layout>
