<app-postal-layout>
  <app-postal-title>Contact</app-postal-title>
  <app-postal-title-note>Questions, projects, ideas, feel free to write to me</app-postal-title-note>
  <app-postal-content>
    <form class="contact-form">
      <p class="contact-greeting primary">Dear Leo,</p>
      <div class="contact-message-wrapper">
        <textarea class="contact-greeting" id="contactMesage" name="contact-message" aria-label="Contact Message"></textarea>
      </div>

      <div class="actions">
        <button class="btn-primary">Send</button>
      </div>
    </form>
  </app-postal-content>
</app-postal-layout>
