@import 'palette';

:host {
  display: flex;
  min-height: 100vh;
  width: 100%;
  background-color: white;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

  .postal-container {
    padding: 20px;
    background: #fff;
    position: relative;
    height: 100vh;
    overflow-y: auto;

    .header-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.postal-content-container {
  overflow-x: hidden;
  box-sizing: border-box;
}


.side-bar-container {
  display: flex;
  align-items: center;
  justify-content: center;

  nav.main-menu {
    ul {
      padding: 0;
      list-style: none;
      li{
        margin: 0;
        padding: 0;

        button {
          color:$linkColor;
          padding: 10px 20px;
          transform: scale(.7);
          &.active {
            color:$linkActiveColor;
          }


        }
      }
    }
  }
}

.app-container {
  width: 100%;

  .postal-container {
    flex-grow: 1;
  }
}

button.active {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  80% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  80% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

