@font-face {
  font-family: 'MetaPro-Book';
  src: url('/assets/fonts/MetaPro-Book.woff2') format('woff2'),
      url('/assets/fonts/MetaPro-Book.woff') format('woff'),
      url('/assets/fonts/MetaPro-Book.ttf') format('truetype'),
      url('/assets/fonts/MetaPro-Book.svg#MetaPro-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MetaPro';
  src: url('/assets/fonts/MetaPro-Bold.woff2') format('woff2'),
      url('/assets/fonts/MetaPro-Bold.woff') format('woff'),
      url('/assets/fonts/MetaPro-Bold.ttf') format('truetype'),
      url('/assets/fonts/MetaPro-Bold.svg#MetaPro-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

