$primary-color: #0E3D5E;
$main-color: #287EBB;
$accent-color: #FE6930;


$leo-blue: (50 : #e2e8ec,
100 : #b7c5cf,
200 : #879eaf,
300 : #56778e,
400 : #325a76,
500 : #0e3d5e,
600 : #0c3756,
700 : #0a2f4c,
800 : #082742,
900 : #041a31,
A100 : #69a7ff,
A200 : #3689ff,
A400 : #036bff,
A700 : #0060e9,
contrast: (50 : #000000,
100 : #000000,
200 : #ffffff,
300 : #ffffff,
400 : #ffffff,
500 : #ffffff,
600 : #ffffff,
700 : #ffffff,
800 : #ffffff,
900 : #ffffff,
A100 : #000000,
A200 : #ffffff,
A400 : #ffffff,
A700 : #ffffff,
));

$leo-accent: (50 : #ffede6,
100 : #ffd2c1,
200 : #ffb498,
300 : #fe966e,
400 : #fe804f,
500 : #fe6930,
600 : #fe612b,
700 : #fe5624,
800 : #fe4c1e,
900 : #fd3b13,
A100 : #ffffff,
A200 : #fff9f8,
A400 : #ffcdc5,
A700 : #ffb7ac,
contrast: (50 : #000000,
100 : #000000,
200 : #ffffff,
300 : #ffffff,
400 : #ffffff,
500 : #ffffff,
600 : #ffffff,
700 : #ffffff,
800 : #ffffff,
900 : #ffffff,
A100 : #000000,
A200 : #000000,
A400 : #000000,
A700 : #000000,
));

$leo-alternative: (50 : #e5f0f7,
100 : #bfd8eb,
200 : #94bfdd,
300 : #69a5cf,
400 : #4891c5,
500 : #287ebb,
600 : #2476b5,
700 : #1e6bac,
800 : #1861a4,
900 : #0f4e96,
A100 : #c6deff,
A200 : #93c1ff,
A400 : #60a4ff,
A700 : #4795ff,
contrast: (50 : #000000,
100 : #000000,
200 : #000000,
300 : #ffffff,
400 : #ffffff,
500 : #ffffff,
600 : #ffffff,
700 : #ffffff,
800 : #ffffff,
900 : #ffffff,
A100 : #000000,
A200 : #000000,
A400 : #000000,
A700 : #000000,
));
