@import 'palette';
@import 'mixins';

$poster-width: 300px;
$poster-height: 500px;
:host {
  width: 100%;
  display: flex;
  flex-direction: column;

}
.portfolio-container {
  padding: 10px;

  display: flex;
  max-width: 100%;
  flex-wrap: nowrap;
  flex-direction: row;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-touch-action: pan-x;
  touch-action: pan-x;

  .portfolio-item {
    position: relative;
    overflow: hidden;
    height: $poster-height * .7;
    width: $poster-width * .7;
    cursor: pointer;
    margin-right: 10px;
    box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
    border-collapse: collapse;
    border-radius: 16px;
    margin-bottom: 20px;
    flex: 0 0 auto;
    background-color:$main-color;

    img {
      height: $poster-height* .7;
      width: $poster-width* .7;
      object-fit: cover;
      object-position: center;
    }

    @include for-tablet-portrait-up {
      height: $poster-height;
      width: $poster-width;
      img {
        height: $poster-height;
        width: $poster-width;
      }
    }

    &:nth-child(4) {
      grid-column: 1 / span 2;
      grid-row: 2 / span 2;
    }

    .portfolio-item-additional-info {
      display: flex;
      position: absolute;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 1);
      color: #fff;
      width: 100%;
      justify-content: stretch;
      align-items: flex-end;
      padding: 1rem;
      text-align: left;

      .portfolio-item-name {
        font-size: 2rem;
      }
    }

    &:hover,
    &:focus,
    &:active {
      outline: 4px solid rgba(0,0,0,0.2);
      outline-offset: 4px
    }
  }
}
