<app-postal-layout>
  <app-postal-title>Work</app-postal-title>
  <app-postal-title-note>An exquisite selection of my work according to my criteria</app-postal-title-note>
  <app-postal-options>
    <app-tag-selection [tags]="['Branding', 'Objects', 'Screen', 'Academic', 'Prints']"></app-tag-selection>

  </app-postal-options>
  <app-postal-content>
    <img class="img-responsive" src="https://mir-s3-cdn-cf.behance.net/project_modules/2800/4c180538645233.5769acf237c56.jpg"
      alt="Ototoy">
  </app-postal-content>
</app-postal-layout>
