<div class="project-details-container" *ngIf="project$ | async as project">
  <div class="gallery-information">
    <h2>{{title}}</h2>
    <div class="project-information-container">
      <div class="project-description" [innerHTML]="description"></div>
      <ng-container *ngIf="technicalSpeficication">
        <div class="technical-specification" [innerHTML]="technicalSpeficication"></div>
      </ng-container>
    </div>
  </div>
  <div class="gallery-container">
    <div class="project-details-actions">
      <button mat-icon-button color="primary" class="close-button" aria-label="Close"
        [routerLink]="['/my-work', project.category]">
        <mat-icon aria-hidden>close</mat-icon>
      </button>
    </div>
    <app-gallery class="back-gallery" [images]="project.images" (selected)="setGalleryInformation($event)"></app-gallery>
  </div>
</div>