<app-postal-layout>
  <app-postal-title>
    Fun Facts
  </app-postal-title>
  <app-postal-title-note>
    Things I have read, watched, and eaten, but mostly, things I like and love
  </app-postal-title-note>
  <app-postal-options>
    <app-tag-selection [tags]="['Books', 'Movies', 'Food']"></app-tag-selection>
  </app-postal-options>
  <app-postal-content>
    <ng-container *ngIf="data$ | async as data; else noData">
      <app-bubble [bubbles]="data"></app-bubble>
    </ng-container>
    <ng-template #noData>
      Not Funny for your selection :(
    </ng-template>
  </app-postal-content>
</app-postal-layout>
