@import 'palette';

.tag-item {
  font-size: 2rem;
  background: transparent;
  border: 0px;
  padding: 5px 5px;
  padding-bottom: 1px;
  margin-right: 41px;
  line-height: 1.3;

  &.selected {
    border-bottom: 2px solid $primary-color;
  }
}
