@import 'palette';

.btn-primary {
  margin-right: 10px;
  &:hover {
    background-color: rgba(0,0,0,.5);
  }
}

.intro-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  height: 100vh;
  transition: opacity .5s ease-in-out;
  opacity: 0;
  position: relative;

  .hand-container {
    background-color:$intro-background;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transition: left 1s ease-in;
  }
  .hand-container:before {
    content: '';
    background: url(/assets/intro/HandHome.png) no-repeat center left;
    display: block;
    width: 100%;
    height: 100%;
    background-size: contain;
  }

  .shuffle-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    .visits-text {
      position: absolute;
      top: 50%;
      left: calc(50% + 100px);
      text-align: left;
      transform: translateY(-80%);
    }
  }

  #mixingCards {
    max-width: 600px;
    max-height: 100%;
    &:focus {
      outline: 0;
    }
  }

  .action-container {
    padding: 20px;
    flex-grow: 1;
  }


  .project-card{
    border: 1px solid $main-color;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 5px;
    flex-grow: 1;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: rgba(0,0,0,.5);
    }

    &:last-child {
      margin-right: 0px;
      transform: translateY(2px);
    }

    &:nth-child(2) {
      transform: translateY(-10px);
    }

    .project-card-thumb {
      overflow: hidden;
      width: 200px;
      height: 300px;
      margin-bottom: 20px;
      border-radius: 16px;

      img {
        width: 200px;
        height: 300px;
        object-fit: cover;
        object-position: center;
        height: 100%;
      }
    }

    h3 {
      color: $main-color;
      font-family: "Cedarville Cursive", cursive;
      text-align: center;
    }
  }
}

.visits-text {
  font-family: "Cedarville Cursive", cursive;
  color: white;
  text-align: center;
}
.random-cards-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
}


.index-wrapper {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  background: $intro-background;


  .intro-container.active {
    opacity: 1 !important;
    order: -1;

    .hand-container {
      left: 100%;
    }
  }

}

.project-card:last-child {
  margin-right: 0px;
  transform: translateY(2px);
}

.project-card:nth-child(2) {
  transform: translateY(-10px);
}


.card-actions {
  padding: 20px;
  .btn-primary {
    color: white;
    border-color: white;
    margin-right: 10px;
  }
}
