
<div class="index-wrapper">
  <div class="intro-container" [class.active]="!showCards">

    <div class="shuffle-container">
      <ng-container *ngIf="!gettingCards">
        <app-message-line *ngIf="visits % 2 === 1; else alternativeDialogTmpl" class="visits-text" [paragraphs]="['Hello there', 'Welcome to the studio','Wanna see something cool?']"></app-message-line>
        <ng-template #alternativeDialogTmpl>
          <app-message-line class="visits-text" [paragraphs]="['Oh, Hi!', 'I see you here before','as it´s your second visit, let me introduce you to a special gallery']"></app-message-line>
        </ng-template>
      </ng-container>
      <video #shuffleCardsVideo id="mixingCards" src="./assets/intro/mixing-cards.mp4" loop muted="muted" (loadeddata)="playVideo()"></video>
    </div>

      <div class="action-container" *ngIf="!gettingCards">
        <button *ngIf="visits % 2 === 0" class="btn-primary" (click)="goToPosters()">go to special gallery!</button>
        <button class="btn-primary" (click)="getCards()">give me cards!</button>
      </div>

  </div>
  <div class="intro-container" [class.active]="showCards">
    <div class="random-cards-container" fxLayout="row" fxLayoutGap="20px">
      <div class="project-card" *ngFor="let project of (cards$ | async)" [routerLink]="['/my-work', project.category, project.id]">
        <div class="project-card-thumb">
          <img [src]="project.thumbnail?.url" [alt]="project.thumbnail?.title">
        </div>
        <div class="project-card-name">
          <h3>{{project.projectName}}</h3>
        </div>
      </div>
    </div>
    <div class="hand-container">
    </div>
    <div class="card-actions">
      <button class="btn-primary" (click)="getMoreCards()">another cards</button>
      <button class="btn-primary" (click)="goToSite()">go to site</button>
    </div>
  </div>
</div>
