/* You can add global styles to this file, and also import other style files */
@import "palette";
@import "fonts";

body * {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "MetaPro-Book", serif;
  color: #000;
  font-size: 1rem;
}

.container {
  margin: auto;
  width: 90%;
}

h1 {
  font-size: 6rem;
  color: $main-color;
}

h2 {
  font-size: 3rem;
  color: $main-color;
}

.btn-primary {
  font-family: "MetaPro-Book", serif;
  color: black;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 10px 20px;
  font-weight: bold;
  text-decoration: underline;
}

.btn-primary:visited {
  color: black;
}

.btn-primary:hover {
  opacity: 0.8;
}

.accent {
  color: $accent-text-color;
}

.img-responsive {
  max-width: 100%;
}

p {
  margin-bottom: 1rem;
}

.mutted {
  color: silver;
}

.actions {
  text-align: right;
}


button {
  cursor: pointer;
  color: $accent-text-color;
  font-size: 1.2rem;
  border: 0px;
  padding: 3px;
  transition: background-color .3s ease-in-out;
  background-color: transparent;

  &:hover,
  &:focus,
  &:active {
    outline-width: 0;
  }
}

.primary {
  color: $accent-text-color;
}
