/* You can add global styles to this file, and also import other style files */
@import "palette";

body * {
  box-sizing: border-box;
  font-size: 2rem;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Fanwood Text", serif;
  color: #000;
  font-size: 1rem;
}

.container {
  margin: auto;
  width: 90%;
}

h1 {
  font-size: 6rem;
  color: $main-color;
}

h2 {
  font-size: 3rem;
  color: $primary-color;
}

.primary {
  font-family: "Cedarville Cursive", cursive;
  color: $accent-text-color;
}

.accent {
  font-family: "Cedarville Cursive", cursive;
  color: $accent-text-color;
}

.img-responsive {
  max-width: 100%;
}

p {
  margin-bottom: 1rem;
}

.mutted {
  color: silver;
}

.actions {
  text-align: right;
}


button {
  cursor: pointer;
  border: 0px;
  padding: 6px 20px;
  transition: background-color .3s ease-in-out;

  &:hover,
  &:focus,
  &:active {
    background-color: #FAFAFA;
    outline-width: 0;
  }
}
