<div class="social-links-container" fxLayout="row" fxLayoutAling="center center">
  <button mat-icon-button aria-label="Go to my Instagram">
    <mat-icon svgIcon="ig" aria-hidden></mat-icon>
  </button>
  <button mat-icon-button aria-label="Go to my Behance">
    <mat-icon svgIcon="behance" aria-hidden></mat-icon>
  </button>
  <button mat-icon-button aria-label="Go to my Vimeo">
    <mat-icon svgIcon="vi" aria-hidden></mat-icon>
  </button>
  <button mat-icon-button aria-label="Go to my GP">
    <mat-icon svgIcon="gp" aria-hidden></mat-icon>
  </button>
</div>
